{
  "plugins": ["@typescript-eslint"],
  "extends": ["react-app"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "@typescript-eslint/no-unused-vars": "warn",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/alt-text": "off",
    "react/jsx-no-target-blank": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".tsx"] }]
  }
}
